html, body {
    height: 100vh;
    background-color: #000000;
    /*background-image: linear-gradient(to bottom right, #2E2A51, #201335);*/
  }
  
  #bg {
    position: fixed;
    top: 0;
    left: 0;
  }
  
  .container {
    height: 100vh;
    display: grid;
    place-items: center;
  }
  
  h1 {
    font-size: 13rem;
    color: #e5e2e5;
    text-align: center;
  }
  
  figcaption {
    color: #fff;
    font-size: .7rem;
    letter-spacing: 0.23rem;
    line-height: 1.3rem;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  